@model PracticeApp.Models.Budget

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Budget</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalIncome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalIncome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalIncome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalIncome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HousingExpense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HousingExpense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UtilitiesExpense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtilitiesExpense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodExpense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodExpense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DebtExpense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DebtExpense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalExpense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalExpense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalExpenses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalExpenses)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    <a asp-controller="Priority" asp-action="PriorityPath">Back to Flowchart</a>
</div>
