@model IEnumerable<PracticeApp.Models.Budget>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NetSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalIncome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalIncome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HousingExpense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UtilitiesExpense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodExpense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DebtExpense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalExpense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalExpenses)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NetSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HousingExpense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UtilitiesExpense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodExpense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DebtExpense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalExpense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalExpenses)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
